extends ../lib/layout

block content
	.page-body
		.row
			.col-xs-12.col-md-12
				.widget
					.widget-header.with-footer
						span.widget-caption 权限分类如下：
						.widget-buttons
							a(href='javascript:void(0);', data-toggle='maximize')
								i.fa.fa-expand
							a(href='javascript:void(0);', data-toggle='collapse')
								i.fa.fa-minus
					form.widget-body.bordered-bottom.bordered-darkorange(method='post')
						.row
							each data, key in lists
								.col-md-4
									h5 #{data.name}
									.control-group
										each child, ckey in data.child
											.radio
												label
													input.colored-blue(name='node_id', type='checkbox',value=child.id, checked=child.isChecked)
													span.text  #{child.name}(#{child.method}:#{child.route})
						.row
							.col-md-12.txt-centent
								button.btn.btn-blue(type='submit') 保存添加